body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: white;
   background-color: black;
   align-content: center;
   text-align: center;
   padding: 3em auto;
}
h1{
   font-size: 3em;
}
ul{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
li{
   list-style-type: none;
}
a{
   text-decoration: none;
   color: white;
   font-size: 1.2em;
}